html, body {
    width: 100vw;
    height: 100%;
    font-family: 'trebuchetMS', Helvetica, sans-serif;
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
button {
    outline: none;
}
:root {
    font-size: 15px;
    @include laptop {
        font-size: 14px;
    }
    @include tablet {
        font-size: 13px; 
    }
    @include phone {
        font-size: 12px;
    }
}
input, textarea {
    box-sizing: border-box;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../images/background.png') 0 0 / cover no-repeat;
    box-shadow: inset 0px 250px 250px -25px black, inset 0px -250px 250px -25px black;
}
.title {
    font-size: 36px;
    font-family: 'exo_2.0';
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    color: white;
}