.active {
    .packs__wrap {
        box-shadow: inset 0 0 0 4px #d91667;
        &:after {
            background: #d91667;
        }
    }
    .packs__weight {
        background: #d91667;
    }
    ._default {
        display: none;
    }
    ._active {
        display: block;
    }
}
.hover_active {
    .packs__wrap {
        box-shadow: inset 0 0 0 4px #e62e7a;
    }
    .packs__weight {
        background: #e62e7a;
    }
    .packs__subtitle {
        display: none;
        &--hover {
            display: block;
        }
    }
}